body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0e0e0; 
  color: #333; 
  font-family: 'Arial', sans-serif;
  padding-left: 50%;
  padding-right: 50%;
  box-sizing: border-box;
}

.gallery-container {
  text-align: center;
  max-width: 800px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(169, 169, 169, 0.5), 0 0 50px rgba(169, 169, 169, 0.2); 
  background: linear-gradient(145deg, #d3d3d3, #a9a9a9); 
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#image-container {
  width: 600px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#current-image {
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* кнопки переключения изображений */
.image-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(169, 169, 169, 0.7);
  border: none;
  padding: 0; 
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  transition: transform 0.3s, background-color 0.3s;
}

.arrow-icon {
  font-size: 15px; 
  color: rgb(0, 0, 0); 
}

.image-nav-button.left {
  left: 10px;
  justify-content: center; 
  align-items: center; 
}

.image-nav-button.right {
  right: 10px; 
  justify-content: center; 
  align-items: center;
}

.image-nav-button:hover {
  transform: translateY(-50%) scale(1.1);
  background-color: rgba(169, 169, 169, 1);
}

/* Управление аудиоплеером */
.control-button.large {
  width: 60px; /* Увеличили ширину кнопки */
  height: 60px; /* Увеличили высоту кнопки */
}

.control-button {
  background-color: transparent; 
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 60px; 
  height: 60px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.control-button img {
  width: 40px;
  height: 40px;
}

.control-button.large img {
  width: 37px; /* Увеличиваем ширину иконки */
  height: 37px; /* Увеличиваем высоту иконки */
}

.control-button:hover {
  background-color: rgba(169, 169, 169, 0.9);
}

.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


#audio-upload {
  padding: 10px;
  border: 2px solid #a9a9a9;
  border-radius: 5px;
  background-color: #b0b0b0;
  color: #333;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.2s ease;
}

#audio-upload:hover {
  background-color: #a9a9a9;
}

canvas {
    margin-top: 20px;
}

#progress-bar {
  width: 80%;
  margin: 20px 0;
  cursor: pointer;
}

/* Разделительная черта */
.divider {
  width: 90%; /* Ширина разделительной черты */
  height: 2px; /* Высота разделительной черты */
  background-color: #565656; /* Цвет разделительной черты */
  margin: 20px 0; /* Отступы сверху и снизу */
  border: none; /* Убираем границы */
}

.divider2 {
  width: 90%; /* Ширина разделительной черты */
  height: 2px; /* Высота разделительной черты */
  background-color: #565656; /* Цвет разделительной черты */
  margin: 10px 0; /* Отступы сверху и снизу */
  border: none; /* Убираем границы */
}

/* Стили для ползунка */
#progress-bar {
  -webkit-appearance: none; /* Убираем стандартные стили для Safari */
  appearance: none; /* Убираем стандартные стили для других браузеров */
  width: 80%;
  height: 8px; /* Высота ползунка */
  background: #565656; /* Цвет фона ползунка */
  border-radius: 5px; /* Скругление углов */
  cursor: pointer;
  margin: 20px 0;
}

/* Стили для "ползунка" (thumb) */
#progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none; /* Убираем стандартные стили для Safari */
  appearance: none; /* Убираем стандартные стили для других браузеров */
  width: 20px; /* Ширина ползунка */
  height: 20px; /* Высота ползунка */
  background: #000; /* Цвет ползунка (черный) */
  border-radius: 50%; /* Скругление углов ползунка */
  cursor: pointer;
}

#progress-bar::-moz-range-thumb {
  width: 20px; /* Ширина ползунка */
  height: 20px; /* Высота ползунка */
  background: #000; /* Цвет ползунка (черный) */
  border-radius: 50%; /* Скругление углов ползунка */
  cursor: pointer;
}

#progress-bar::-ms-thumb {
  width: 20px; /* Ширина ползунка */
  height: 20px; /* Высота ползунка */
  background: #000; /* Цвет ползунка (черный) */
  border-radius: 50%; /* Скругление углов ползунка */
  cursor: pointer;
}

/* Стили для состояния ползунка (проверка) */
#progress-bar:focus {
  outline: none; /* Убираем обводку при фокусировке */
}

#progress-bar:focus::-webkit-slider-thumb {
  background: #000000; /* Цвет ползунка при фокусировке */
}

#progress-bar:focus::-moz-range-thumb {
  background: #000000; /* Цвет ползунка при фокусировке */
}

#progress-bar:focus::-ms-thumb {
  background: #000000; /* Цвет ползунка при фокусировке */
}

.audio-visualization {
  display: flex;
  justify-content: space-between; /* Равномерное распределение шариков */
  align-items: flex-end; /* Выравнивание по нижней части */
  height: 100px; /* Высота контейнера */
  margin-top: 20px; /* Отступ сверху */
  padding: 0 20px; /* Внутренний отступ */
}

.ball {
  width: 50px; /* Ширина шарика */
  height: 50px; /* Высота шарика */
  background-color: gray; /* Цвет шарика */
  border-radius: 50%; /* Скругление для создания шарика */
  transition: transform 0.1s ease; /* Плавное увеличение шариков */
  margin: 0 10px; /* Отступы между шариками */
}
